# Thumbnails
Thumbs.db
._* 

# Folder config file
Desktop.ini
.DS_Store

# Recycle Bin used on file shares
$RECYCLE.BIN/
.Trashes

# Files that might appear on external disk
.Spotlight-V100

